*~
!cache/.htaccess
!cache/index.html
composer.phar
files/*
images/avatars/gallery/*
images/avatars/upload/*
images/ranks/*
install/schemas/schema.json
store/*
styles/*
!styles/all
!styles/prosilver
!styles/tg_silver
!styles/se_square_left
!styles/tg_se_square_left
vendor
